@charset "UTF-8";
* {
    margin: 0;
  	padding: 0;
    font-family: Arial,Helvetica,sans-serif;
}

div {
    display: block;
}

body {
	background-color: #F9F9F9;
}

.wrapper {
    margin: 0 10px;
}

.header {
	width: 980px;
	margin: auto;
	position: relative;
	background-color: #0098da;
	padding: 10px 0;
}

.tagline {
	display: inline-block;
    font: italic 20px Times new Roman, helvetica, sans-serif;
    color: #000000;
    margin: 18px 0 0 40px;
    float: right;
}

.logo {
	float: left;
}

.img_logo {
	width: 100px;
    height: 74px;
}

.main_menu {
	background-color: #91d8f7;
	width: 980px;
	margin: auto;
}

.menu_item {
	float: left;
	text-align: center;
	list-style-type: none;
	
}

.switch {
    color: #333;
    font-size: 14px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    position: relative;   
    margin: auto;
  	padding: 10px;
    
}

.switch:hover {
	background-color: #0098da;
}


.main {
	width: 980px;
	min-height: 300px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.page {
	width: 715px;
	float: left;
	min-height: 300px;
}

.article {
	width: 690px;
	margin: auto;
	text-align: justify;
}

.secondary {
	width: 240px;
	float: right;;
	min-height: 300px;
	border-left: 1px solid;
	border-color: #c0c0c0;
	
}

.login_form {
	width: 220px;
	margin: auto;	
}

.logged {
	width: 220px;
	margin: auto;
	padding: 4px;
	font: italic 14px Times new Roman, helvetica, sans-serif;
    color: #000000;
    border: 1px solid;
  	border-color: #aaaaaa;
  	border-radius: 5px;
  	background-color: #ffffff;	
}

.sec_article {
	
	width: 220px;
	margin: auto;
	margin-top: 10px;
	padding: 4px;
	font: 14px Times new Roman, helvetica, sans-serif;
    color: #000000;
    border: 1px solid;
  	border-color: #aaaaaa;
  	border-radius: 5px;
  	background-color: #ffffff;
  	text-align: justify;	
}

.login_text {
	display: inline-block;
    font: italic 14px Times new Roman, helvetica, sans-serif;
    color: #808080;
    margin: 0px 0 0 0px;
}

.footer {
	width: 980px;
	margin: auto;
	height: 50px;
	background-color: #0098da;
	font: 14px Times new Roman, helvetica, sans-serif;
    color: #400040;
    text-align: right;
}

.fl {
	float: left;
}

.clear {
	content: '';
    clear: both;
    display: block;
}

.alert_message {
	color: red;
}

.table_tour {
	display: table;
}

.table_row {
	display: table-row;
	width: 600px;	
}

.titlebox {
	display: table-cell;
	text-align: center;
  	vertical-align:middle;
  	border: 1px solid;
  	border-color: #aaaaaa;
  	background-color: #ffffff;
  	font: 16px Times new Roman, helvetica, sans-serif;
  	font-weight: bold;	
}

.box {
	display: table-cell;
	text-align: left;
  	vertical-align:middle;
  	border: 1px solid;
  	border-color: #aaaaaa;
  	background-color: #ffffff;
  	font: 15px Times new Roman, helvetica, sans-serif;
}

